body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h1 {
    color: rgba(0, 0, 0, 0.233);
    font-weight: normal;
}

hr{
    width: 40%;
}

.custome {
    color: rgba(243, 161, 9, 0.61);
}